<nav>

	<ul>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Servicos">Serviços</a>
		</li>

	</ul>

</nav>
