<section id="newsletter">
	<div class="container">
		<h1>Subscreve a nossa newsletter</h1>
		<form asp-action="Submit">
			<input type="email" placeholder="Coloque o email..." />
			<a asp-action="Home"  button type="submit" class="button_1">Subscrever</a>
		</form>
	</div>
</section>
