@model Global_Games.Data.Entities.Newsletter

<section id="newsletter">
	<div class="container">
		<h1>Subscreve a nossa newsletter</h1>
		<form asp-controller="Home" asp-action="NewsletterSend">
			<input asp-for="Email" type="email" placeholder="Coloque o email..." />
			<span asp-validation-for="Email" class="text-warning"></span>
			<button type="submit" class="button_1">Subscrever</button>
		</form>
	</div>
</section>
